<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<h2>Markets added:</h2>
<tr th:each="market: ${marketList}">
    <td th:text="${market.name}" />
    <td th:text="${market.price}" />
    <br>
</tr>
</body>
</html>