<html xmlns:th="http://www.w3.org/1999/xhtml">
    <body>
        <h2>All products from the stock:</h2>
        <tr th:each="product: ${productList}">
            <td th:text="${product.name}" />
            <td th:text="${product.price}" />
            <br>
        </tr>
    </body>
</html>