<html xmlns:th="http://www.w3.org/1999/xhtml">
    <body>
      <h2>Product found in stock:</h2>
      <p th:text="'Name: ' + ${product.name}"></p>
      <p th:text="'Price: ' + ${product.price}"></p>
    </body>
</html>